[Unit]
Description=X730 Daemon
After=local-fs.target

[Service]
Type=exec
RemainAfterExit=no
ExecStart=${x730} -vvv daemon

[Install]
WantedBy=multi-user.target
