[Unit]
Description=X730 Case Reboot
DefaultDependencies=no
Conflicts=poweroff.target halt.target
Before=reboot.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/x730 shutdown --reboot

[Install]
WantedBy=reboot.target
