[Unit]
Description=X730 Case Poweroff
DefaultDependencies=no
Conflicts=reboot.target
Before=poweroff.target halt.target shutdown.target

[Service]
Type=oneshot
RemainAfterExit=no
# TODO ExecStart=/usr/local/bin/x730shutdown.sh "4"

[Install]
WantedBy=poweroff.target halt.target shutdown.target
