[Unit]
Description=X730 Daemon
After=local-fs.target

[Service]
Type=exec
RemainAfterExit=no
ExecStart=/usr/local/bin/x730 daemon

[Install]
WantedBy=multi-user.target
