[Unit]
Description=X730 Case Poweroff
DefaultDependencies=no
Conflicts=reboot.target
Before=poweroff.target halt.target shutdown.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=${x730} -vvv shutdown --poweroff

[Install]
WantedBy=poweroff.target halt.target shutdown.target
